<div class="container mt-4">
    <div class="accordion" id="accordionExample">
        <h2 class="text-center">¿Cómo jugar a <strong>Twilight Struggle</strong>?</h2>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ¿Qué es Twilight Struggle? 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Es un juego de cartas donde ya sea del bando capitalista o del bando comunista, tienes que hacer lo posible para tener paises bajo tu influencia y derrocar el régimen rival.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ¿Cuántos jugadores son necesarios?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Son necesarios 2 jugadores (<strong>1 de cada bando</strong>)
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              ¿Qué bandos hay?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Hay dos bandos el de los Estados Unidos (<strong>Capitalista</strong>) y el bando de la Unión Sovietica (<strong>Comunista</strong>)
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿Cuántos periodos de Guerra Fría hay?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Hay 3 periodos dentro del juego (<strong>Guerra Inicial, Guerra Media, Guerra Tardia</strong>), las cartas y el tablero (el tablero a gusto de los jugadores) te indican en que periodo de guerra estás.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ¿Cómo consigo puntos en cada periodo?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Consigues puntos en cada periodo gracias a la descripción de las cartas que tengas de tu bando (<strong>estrella blanca si eres capitalista, estrella roja si eres comunista, estrella mixta para ambos bandos</strong>), si tienes cartas del bando contrario las descartas.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                ¿Qué es DEFCON?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                DEFCON es el nivel de alarma de guerra nuclear (<strong>del 5 al 1</strong>), donde 5 es la paz y 1 es guerra nuclear.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                ¿Quién gana la partida?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Gana la partida el bando que tiene más paises bajo su control al terminal la Guerra Tardia o el que ha llevado a su oponente al nivel de DEFCON 1.
              </div>
            </div>
        </div>
    </div>
</div>
