<div class="container">
    <table class="table text-center">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Comentario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentario of comentarios">
          <td>{{ comentario.player }}</td>
          <td>{{ comentario.comment_text }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarComentario(comentario.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
