<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Twilight Struggle, controla la Guerra Fría</h1>
      <hr class="my-4">
      <p class="lead">Haz que el bando estadounidense se lleve la victoria</p>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/cartaEEUU.jpeg" alt="" width="150px">
        </div>
        <div class="col-md-6">
          <p>Ponte a los mandos del país americano y haz que todo el mundo goze del plan capitalista, derrocando el plan comunista de la Unión Sovética, ya sea controlando más paises o bien llevandolo a nivel <b>DEFCON</b> 2 o 1.</p>
        </div>
      </div>
      <hr class="my-4">
      <p class="lead">Haz que el bando soviético domine el mundo</p>
      <div class="row">
        <div class="col-md-6">
          <p>Ponte a los mandos del país soviético y haz que todo el mundo goze del plan comunista, derrocando el plan capitalista de los Estados Unidos, ya sea controlando más paises o bien llevandolo a nivel <b>DEFCON</b> 2 o 1.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/img/cartaURSS.jpeg" alt="" width="150px">
        </div>
      </div>
      <hr class="my-4">
      <p class="lead">Ciudado con el nivel de <b>DEFCON</b> </p>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/defcon.jpg" alt="" width="150px">
        </div>
        <div class="col-md-6">
          <p>Ya sea a los mandos americanos o soviéticos, lleva al rival a los niveles 2 o 1 para llevarte rápidamente la victoria en este juego de la guerra fría.</p>
        </div>
      </div>
    </div>
  </div>